{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your E-commerce Site</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <script src="{% static '../static/assets/js/jquery-3.7.1.min.js' %}"></script>
</head>
<body>
    <header class="header">
        <h2>Soko</h2>
        <!-- Navigation bar -->
        <div>
            <ul class="navbar">
                <li><a class="active" href="{% url 'soko:index' %}">Home</a></li>
                {% for c in categories %}
                <li><a href="{{ c.get_absolute_url }}">{{ c.name|title }}</title></a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="icons">
            <a href="#"><i class='bx bx-user'></i></a>
            <a href="{% url 'cart:cart_summary' %}">
                <i class='bx bx-cart'></i>
                {% with total_qty=cart|length %}
                    <span id="cart-qty">                
                        {% if total_qty > 0 %}
                            {{ total_qty }}
                        {% else %}
                            0
                        {% endif %}
                    </span>
                {% endwith %}
            </a>
        </div>
    </header>

    {% block content %}

    {% endblock content %}

    <footer class="footer">
        <div class="col">
            <h4>About Us</h4>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Condtions</a>
        </div>
        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
        </div>
        <div class="col">
            <h4>Contact</h4>
            <p><strong>Address:</strong> Forest Hill Drive</p>
            <p><strong>Phone:</strong> +254 759 960 244</p>
            <p><strong>Hours:</strong> 08:00 - 18:00, Mon - Sat</p>
            </div>
        <!--
        <div class="copyright">
            <p>&copy; 2024, Your E-commerce Website. All rights reserved.</p>
        </div>
        -->
    </footer>
    <script src="{% static '../static/assets/js/cart.js' %}"></script>
    <script src="{% static 'assets/js/product.js' %}"></script>
    <script src="{% static 'assets/js/index.js' %}"></script>
</body> 
</html>