{% extends 'partials/base.html' %}

{% load static %}

{% load custom_filters %}

{% block content %}

<div class="cart-container">
  <div class="shopping-cart">
    <!-- Title -->
    <div class="title">
        Shopping Cart
    </div>

    {% for item in cart %}
        {% with product=item.product %}
    <!-- Product -->
    <div class="item" data-index="{{ product.id }}">
        {% with product.images|slice:"2:-2"|split_by_comma as split_list %}
        <div class="image">
            <img src="{{ split_list.0 }}" alt=""/>
        </div>
        {% endwith %}
        <div class="description">
            <h4>{{ product.title }}</h4>
            <p>{{ product.description }}</p>
            <!-- You can add more details here if needed -->
        </div>
        <div class="unit-price">{{ product.price }}</div>
        <div class="quantity">
                <input type="number" name="name" class="quantity-input" id="quantity-input" data-index="{{ product.id }}" value= "{{ item.qty }}" min="1">
                <div class="buttons">
                    <button type="button" id="update-btn" class="update-btn" data-index="{{ product.id }}">Update</button>
                    <button type="button" id="delete-btn" class="delete-btn" data-index="{{ product.id }}">Delete</button>
                </div>
        </div>
        <div class="total-price"><strong>${{ product.price }}</strong></div>
    </div>
        {% endwith %}
    {% endfor %}
  </div>

  <div class="totals">
    <div class="cart-totals">
        <div class="sub-header">
          <h3>Totals</h3>
        </div>
        <table>
          <tr>
            <th colspan="2">Basket</th>
          </tr>
          <tr>
            <td>Basket total</td>
            <td>$<span id="sub-total-price-sum">{{ cart.get_total_price }}</span></td>
          </tr>
          <tr>
            <th colspan="2">Delivery</th>
          </tr>
          <tr>
            <td>Free shipping</td>
            <td>$0</td>
          </tr>
          <tr>
            <th>Order total</th>
            <td>$<span id="total-price-sum">{{ cart.get_total_price }}</span></td>
          </tr>
        </table>
        <div class="checkout-btn">
          <button>Proceed to checkout</button>
        </div>
    </div>
  </div>

</div>


<script>
    $(document).ready(function() {
      $(document).on('click', '.delete-btn', function(e) {
        var prodid = $(this).data('index');
      e.preventDefault();
      $.ajax({
        type: 'POST',
        url: "{% url 'cart:cart_delete' %}",
        data: {
          productId: $(this).data('index'),
          csrfmiddlewaretoken: "{{ csrf_token }}",
          action: 'post'
        },
        success: function (json) {
            $('.item[data-index="'+ prodid +'"]').remove();
            document.getElementById("cart-qty").innerHTML = json.qty;
            document.getElementById("sub-total-price-sum").innerHTML = json.subtotal;
            document.getElementById("total-price-sum").innerHTML = json.subtotal;
            
        },
        error: function (xhr, errmsg, err) {}
      });
      alert('Deleted');
    });
  });

  $(document).ready(function() {
      $(document).on('click', '.update-btn', function(e) {
        var prodid = $(this).data('index');
      e.preventDefault();
      $.ajax({
        type: 'POST',
        url: "{% url 'cart:cart_update' %}",
        data: {
          productId: $(this).data('index'),
          productQty: $('.quantity-input[data-index="'+ prodid +'"]').val(),
          csrfmiddlewaretoken: "{{ csrf_token }}",
          action: 'post'
        },
        success: function (json) {
            document.getElementById("cart-qty").innerHTML = json.qty;
            document.getElementById("sub-total-price-sum").innerHTML = json.subtotal;
            document.getElementById("total-price-sum").innerHTML = json.subtotal;
        },
        error: function (xhr, errmsg, err) {}
      });
      alert('Updated');
    });
  });
  </script>

{% endblock content %}