{% extends 'partials/base.html' %}

{% block content %}

{% load static %}

{% load custom_filters %}


    <section class="hero">
        <div class="main-promo">
            <h2>SPECIAL OFFER</h2>
            <h1>UP TO 50% OFF</h1>
            <div class="shop-now">
                <button>Shop Now</button>
            </div>
            <h3>LIMITED TIME ONLY</h3>
        </div>
    </section>
    <section class="pop-product" id="popular">
        <div class="center-text">
            <h2>Our Trending <span>Products</span></h2>
        </div>

        <div class="products"">
        {% for prd in products %}
            {% if prd.id < 52 %}
            <div class="row" data-id="{{ prd.id }}">
                {% with prd.images|slice:"2:-2"|split_by_comma as split_list %}
                <img src="{{ split_list.0 }}" alt="">
                {% endwith %}
                <div class="product-text">
                    <h5>Sale</h5>
                </div>
                <div class="heart-icon">
                    <i class='bx bx-heart'></i>
                </div>
                <div class="ratting">
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bxs-star-half'></i>
                </div>

                <div class="price">
                    <h4 class="product-title">{{ prd.title }}</h4>
                    <p class="product-price">${{ prd.price }}</p>
                </div>
                <div class="detail">
                    <a href="{{ prd.get_absolute_url }}" class="view-product">View Product</a>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </section>

{% endblock content %}