{% extends 'partials/base.html' %}

{% block content %}

{% load static %}

    <section class="hero">
        <div class="main-promo">
            <h2>SPECIAL OFFER</h2>
            <h1>UP TO 50% OFF</h1>
            <button>SHOP NOW</button>
            <h3>LIMITED TIME ONLY</h3>
        </div>
    </section>
    <section class="pop-product" id="popular">
        <div class="center-text">
            <h2>Our Trending <span>Products</span></h2>
        </div>
        <div class="products">
            <div class="row">
                <img src="{% static './assets/images/product_01.jpg' %}" alt="">
                <div class="product-text">
                    <h5>Sale</h5>
                </div>
                <div class="heart-icon">
                    <i class='bx bx-heart'></i>
                </div>
                <div class="ratting">
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bxs-star-half'></i>
                </div>

                <div class="price">
                    <h4>Half Running Set</h4>
                    <p>$99 - $129</p>
                </div>
                <button class="add-to-cart">ADD TO CART</button>
               
            </div>
            <div class="row">
                <img src="{% static './assets/images/product_02.jpg' %}" alt="">
                <div class="product-text">
                    <h5>Sale</h5>
                </div>
                <div class="heart-icon">
                    <i class='bx bx-heart'></i>
                </div>
                <div class="ratting">
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bxs-star-half'></i>
                </div>

                <div class="price">
                    <h4>Half Running Set</h4>
                    <p>$99 - $129</p>
                </div>
                <button class="add-to-cart">ADD TO CART</button>
               
            </div>
            <div class="row">
                <img src="{% static './assets/images/product_03.jpg' %}" alt="">
                <div class="product-text">
                    <h5>Sale</h5>
                </div>
                <div class="heart-icon">
                    <i class='bx bx-heart'></i>
                </div>
                <div class="ratting">
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bxs-star-half'></i>
                </div>

                <div class="price">
                    <h4>Half Running Set</h4>
                    <p>$99 - $129</p>
                </div>
                <button class="add-to-cart">ADD TO CART</button>
                
            </div>            <div class="row">
                <img src="{% static './assets/images/product_04.jpg' %}" alt="">
                <div class="product-text">
                    <h5>Sale</h5>
                </div>
                <div class="heart-icon">
                    <i class='bx bx-heart'></i>
                </div>
                <div class="ratting">
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bxs-star-half'></i>
                </div>

                <div class="price">
                    <h4>Half Running Set</h4>
                    <p>$99 - $129</p>
                </div>
                <button class="add-to-cart">ADD TO CART</button>
                
            </div>
            <div class="row">
                <img src="{% static './assets/images/product_05.jpg' %}" alt="">
                <div class="product-text">
                    <h5>Sale</h5>
                </div>
                <div class="heart-icon">
                    <i class='bx bx-heart'></i>
                </div>
                <div class="ratting">
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bxs-star-half'></i>
                </div>

                <div class="price">
                    <h4>Half Running Set</h4>
                    <p>$99 - $129</p>
                </div>
                <button class="add-to-cart">ADD TO CART</button>
                
            </div>
            <div class="row">
                <img src="{% static './assets/images/product_06.jpg' %}" alt="">
                <div class="product-text">
                    <h5>Sale</h5>
                </div>
                <div class="heart-icon">
                    <i class='bx bx-heart'></i>
                </div>
                <div class="ratting">
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bxs-star-half'></i>
                </div>

                <div class="price">
                    <h4>Half Running Set</h4>
                    <p>$99 - $129</p>
                </div>
                <button class="add-to-cart">ADD TO CART</button>
                
            </div>
            <div class="row">
                <img src="{% static './assets/images/product_07.jpg' %}" alt="">
                <div class="product-text">
                    <h5>Sale</h5>
                </div>
                <div class="heart-icon">
                    <i class='bx bx-heart'></i>
                </div>
                <div class="ratting">
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bxs-star-half'></i>
                </div>

                <div class="price">
                    <h4>Half Running Set</h4>
                    <p>$99 - $129</p>
                </div>
                <button class="add-to-cart">ADD TO CART</button>
                
            </div>
            <div class="row">
                <img src="{% static './assets/images/product_08.jpg' %}" alt="">
                <div class="product-text">
                    <h5>Sale</h5>
                </div>
                <div class="heart-icon">
                    <i class='bx bx-heart'></i>
                </div>
                <div class="ratting">
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bxs-star-half'></i>
                </div>

                <div class="price">
                    <h4>Half Running Set</h4>
                    <p>$99 - $129</p>
                </div>
                <button class="add-to-cart">ADD TO CART</button>
            </div>
        </div>
    </section>

{% endblock content %}