{% extends 'partials/base.html' %}

{% load static %}

{% load custom_filters %}

{% block content %}

<section>
<div class="container flex">
  <div class="left">
    {% with products.images|slice:"2:-2"|split_by_comma as split_list %}
    <div class="main-image">
      <img src="{{ split_list.0 }}" alt="" class="slide">
    </div>
    <div class="option flex">
      <img src="{{ split_list.1 }}" onclick="img('split_list.1')">
      <img src="{{ split_list.2 }}" onclick="img('split_list.2')">      
    </div>
    {% endwith %}
  </div>
  <div class="right">
    <h3>{{ products.title }}</h3>
    <h4> <small>$ </small>{{ products.price }}</h4>
    <p>{{ products.description }}</p>
    <h5>Color-Rose Gold</h5>
    <div class="color flex">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <h5>Quantity</h5>
    <div class="add flex1">
      <input type="number" value="1" min="1" class="prdQuantity"/>
    </div>
    <button type="button" id="add-to-cart" value="{{ products.id}}">Add To Cart</button>
  </div>
  
</div>
</section>

<script>
  $(document).ready(function() {
    $(document).on('click', '#add-to-cart', function(e) {
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: "{% url 'cart:cart_add' %}",
      data: {
        productId: $('#add-to-cart').val(),
        productQty: $('.prdQuantity').val(),
        csrfmiddlewaretoken: "{{ csrf_token }}",
        action: 'post'
      },
      success: function (json) {
        document.getElementById("cart-qty").innerHTML = json.qty
      },
      error: function (xhr, errmsg, err) {}
    });
    alert('Clicked');
  });
});
</script>

{% endblock content %}
